nav {
    display: flex;
    height: 150px;
}
nav li {
    list-style: none;
}
hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('/assets/hr-img.png');
}
.title-logo {
    display: flex;
    width: 70%;
}
.icons {
    display: flex;
}